<section class="admin-shell">
  <header class="painel-header">
    <div class="brand-block">
      <div class="brand-icon">INAP</div>
      <div>
        <strong>Painel Administrativo</strong>
        <span>Gestão de Certificados</span>
      </div>
    </div>
    <button class="btn-sair" (click)="logout()">Sair</button>
  </header>

  <main class="content-container">
    <div class="page-header">
      <h1>Solicitações Recebidas</h1>
    </div>

    <div class="filtro-container">
      <div class="filtro-grupo">
        <label for="buscaNome">Buscar por Aluno</label>
        <input id="buscaNome" type="text" [(ngModel)]="filtroNome" placeholder="Ex: Pedro Silva" />
      </div>

      <div class="filtro-grupo">
        <label for="buscaCpf">Buscar por CPF</label>
        <input id="buscaCpf"
         type="text" 
         [(ngModel)]="filtroCpf" 
         placeholder="Ex: 000.000.000-00"
         mask="000.000.000-00"
          />
      </div>

      <div class="filtro-botoes">
        <button class="btn-buscar" (click)="pesquisar()">Buscar</button>
        <button class="btn-limpar" (click)="limparFiltro()">Limpar</button>
      </div>
    </div>

    <div class="table-container">
      <table class="admin-table">
        <thead>
          <tr>
            <th>Aluno</th>
            <th>Curso</th>
            <th>Solicitado em</th>
            <th>Data Limite</th>
            <th>Status</th>
            <th>Tipo Certificado</th>
          </tr>
        </thead>
        <tbody>
          @for (solicitacao of solicitacoes(); track $index) {
            <tr class="linha-clicavel" (click)="abrirDetalhes(solicitacao)">
              <td>
                <strong>{{ solicitacao.nomeAluno }}</strong>
              </td>
              <td>{{ solicitacao.curso }}</td>
              <td>{{ solicitacao.dataSolicitacao | date: 'dd/MM/yyyy' }}</td>
              <td style="color: #d97706; font-weight: bold">
                {{ solicitacao.dataLimiteEntrega | date: 'dd/MM/yyyy' }}
              </td>
              <td>
                <span class="status-badge">{{ solicitacao.statusSolicitacao }}</span>
              </td>
              <td>
                <p>
                  <strong>{{ solicitacao.tipoCertificado }}</strong>
                </p>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="6" style="text-align: center; padding: 20px">
                Nenhuma solicitação no momento.
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="paginacao-container">
      <button (click)="paginaAnterior()" [disabled]="paginaAtual() === 0">&laquo; Anterior</button>

      <span>Página {{ paginaAtual() + 1 }} de {{ totalPaginas() }}</span>

      <button (click)="proximaPagina()" [disabled]="paginaAtual() >= totalPaginas() - 1">
        Próxima &raquo;
      </button>
    </div>
  </main>

  @if (modalAberto()) {
    <div class="modal-overlay" (click)="fecharModal()">
      <div class="modal-box" (click)="$event.stopPropagation()">
        <div class="modal-header">
          <h2>Detalhes da Solicitação</h2>
          <button class="btn-fechar" (click)="fecharModal()">&times;</button>
        </div>

        <div class="modal-body">
          <div class="info-grupo">
            <span>Aluno:</span>
            <strong>{{ solicitacaoSelecionada().nomeAluno }}</strong>
          </div>
          <div class="info-grupo">
            <span>CPF:</span>
            <strong>{{ solicitacaoSelecionada().cpf }}</strong>
          </div>
          <div class="info-grupo">
            <span>Curso:</span>
            <strong>{{ solicitacaoSelecionada().curso }}</strong>
          </div>

          <div class="info-grupo">
            <span>Tipo de Certificado:</span>
            <strong>{{ solicitacaoSelecionada().tipoCertificado }}</strong>
          </div>

          <div class="info-grupo">
            <span>Data da Solicitação:</span>
            <strong>{{ solicitacaoSelecionada().dataSolicitacao | date: 'dd/MM/yyyy' }}</strong>
          </div>

          <hr class="divisor" />

          <div class="form-grupo">
            <label for="statusSelect">Alterar Status do Certificado:</label>
            <select id="statusSelect" [(ngModel)]="statusSelecionado" class="select-status">
              <option value="PENDENTE">Pendente</option>
              <option value="CONCLUIDO">Concluído</option>
              <option value="ENTREGUE">Entregue</option>
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn-cancelar" (click)="fecharModal()">Cancelar</button>
          <button class="btn-salvar" (click)="salvarNovoStatus()">Salvar Alteração</button>
        </div>
      </div>
    </div>
  }
</section>
